[flake8]
exclude =
    .git,
    __pycache__,
    migrations,
    .venv,
    venv,
    .env,
    .vscode,
    .idea,
    node_modules,
    *.egg-info,
    .pytest_cache,
    .tox,
    .coverage,
    .ruff_cache,
    0001_initial.py,

max-line-length = 120
extend-ignore = E203, W503
per-file-ignores =
    config/settings/*.py: F403, F405, F401
